.user-form {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.user-form .form-title {
  font-family: 'Raleway';
  padding-top: 30vh;
}

.user-form .form-break {
  padding-top: 2vh;
}

.user-form .form-input {
  margin: 0vw 10vw;
  width: 200px;
}

.user-form .submit-button {
  background-color: #B2DFDB;
  color: #FFFFFF;
  margin-top: 3vh;
  font-family: 'Raleway';
}

#header {
  height: 10vh !important;
}

#workspace-container {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  width: 160vw !important;
  padding: 0vw 10vw 0vw !important;
  height: 100vh !important;
}

.card {
  max-width: 425px;
  box-shadow: none !important;
  margin: 30px !important;
  border: 0.5px solid #D3D3D3;
}

.icon {
  background-color: #CD626A !important;
  font-family: 'Raleway' !important;
  font-size: 1.2rem !important;
}

.card-img {
  width: 325px !important;
  height: 196.88px !important;
  object-fit: contain;
  border: 25px solid #FFFFFF;
}

.modal {
  position: relative;
  margin: 0 auto;
  top: 40vh;
  width: 30vw;
  background: #FFFFFF;
}

.submit-button {
  background-color: #B2DFDB !important;
  color: #FFFFFF !important;
  margin: 3vh 0vh !important;
  font-family: 'Raleway' !important;
}

.confirm-booking {
  padding-top: 3vh !important;
  font-family: 'Raleway' !important;
}

.booking-form {
  padding-top: 5vh;
}

.booking-calendar {
  margin: 0vh 5vw;
}

.booking-message {
  padding: 5vh 5vw;
  font-family: 'Raleway' !important;
  font-size: 1.5rem !important;
  font-weight: 300 !important
}

.heart-icon {

}

.heart-icon:visited {
  color: red !important;
}

.copied {
  display: flex !important;
  padding: 0 !important;
  flex-wrap: wrap !important;
  overflow-y: auto !important;
  list-style: none !important;
  -webkit-overflow-scrolling: touch !important;
  height: 50vh !important;
}
