.user-forms {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#workspace-container {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  width: 160vw !important;
  padding: 0vw 10vw 0vw !important;
}

.card {
  max-width: 425px;
  box-shadow: none !important;
  margin: 30px !important;
  border: 0.5px solid #D3D3D3;
}

.icon {
  background-color: #CD626A !important;
  font-family: 'Raleway' !important;
  font-size: 1.2rem !important;
}

.card-img {
  width: 325px !important;
  height: 196.88px !important;
  object-fit: contain;
  border: 25px solid #FFFFFF;
}

.modal {
  position: relative;
  margin: 0 auto;
  top: 40vh;
  width: 20vw;
  background: #FFFFFF;
}
